@media (min-width: 576px){
  .modal-dialog {
      max-width: 95% !important;
  }
}
.modal{
  padding-left: 0px !important;
  font-family: 'Roboto', sans-serif;
}
.modal-main-content{
  -webkit-box-shadow: 0px 100px 54px 0px rgba(0,0,0,0.06); 
box-shadow: 0px 100px 54px 0px rgba(0,0,0,0.06);
}
.modal-content{
  border-radius: 10px;
  overflow: hidden !important
}
.modal-body{
  padding: 0px !important;
  background-color: #f1f1f1 !important;
}
.accordion-button:active {
  color: black !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0,0,0,.125) !important;
  color: black !important;
}

.accordion-header{
  position: static !important;
}
.accordion-header .accordion-button{
  position: static !important;
  font-weight: bold;
  background-color: transparent !important;
}

.accordion .accordion-item{
  position: relative !important;
}
/* toggle button */

.switch-parent{
  position: absolute;
  left: 2%;
  width: 50px;
  height: 50px;
  z-index: 500;
  display: grid;
  place-content: center;
}

.custom-switch-off{
  display: grid;
  align-content: center;
  width: 40px;
  height: 18px;
  padding: 2px;
  background-color:rgba(170, 170, 170, 0.781);
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}
.custom-switch-on{
  display: grid;
  align-content: center;
  justify-content: end;
  width: 40px;
  height: 18px;
  padding: 2px;
  background-color:rgba(3, 255, 3, 0.239);
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}
.custom-switch-on .custom-slider{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(15, 189, 15);
}
.custom-slider{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}